@import "sections/header";                             // <------- Add your styles into this file
@import "sections/navbar";                             // <------- Add your styles into this file
@import "sections/breadcrumb";
@import "sections/cart";
@import "sections/shop";
@import "sections/single-product";
@import "sections/featured-header";
@import "sections/our-company";
@import "sections/page";
@import "sections/career";
@import "sections/single";
@import "sections/footer";
@import "sections/contact-form7";
@import "sections/swiper";
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
html, body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-family: var(--font-main), sans-serif;
}
body {
    background-image: linear-gradient(to right, #F5F5F5 , #D7D7D7);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-weight: 900;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.3em;
}
h2, .h2 {
    margin: 42px 0 16px;
    font-size: 48px;
}
h3, .h3 {
    margin: 42px 0 16px;
    font-size: 36px;
}
h4, .h4 {
    margin: 42px 0 16px;
    font-size: 30px;
}
h6, .h6 {
    margin: 42px 0 16px;
    font-size: 18px;
    font-weight: 700;
}
.videoWrapper {
    position: relative;
    // padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 

}
a:active, a:hover {
    outline: 0;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: 0 none;
    text-decoration: none;
}
.container {
    @media (min-width: 992px) and (max-width: 1400px) {
        max-width: 1140px;
    }
}
label {
    font-weight: bold;
}
.menu-primary-container {
    z-index: 2;
}
.header {
    font-family: 'Playfair Display', sans-serif;
    font-family: var(--font-headers), sans-serif;
    font-weight: 700;
    font-weight: 900;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
input[type="submit"], button {
    -webkit-background-clip: border-box !important;
    -moz-background-clip: border-box !important;
    background-clip: border-box !important;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.button.btn-default:hover, 
input[type="button"].btn-default:hover, 
input[type="submit"].btn-default:hover, 
.btn.btn-default:hover,
input[type="submit"].wpcf7-submit:hover {
    background-color: var(--black);
    color: var(--white);
}

.button.btn-black, input[type="button"].btn-black, input[type="submit"].btn-black, .btn.btn-black {
    color: var(--white);
    background-color: #252C30;
    background-color: var(--black);
}
.button.btn-black:hover, input[type="button"].btn-black:hover, input[type="submit"].btn-black:hover, .btn.btn-black:hover {
    color: var(--white);
    background-color: var(--main);
    border-color: rgba(0, 0, 0, 0.3);
}
.button.color-hover-white:hover, input[type="button"].color-hover-white:hover, input[type="submit"].color-hover-white:hover, .btn.color-hover-white:hover {
    color: var(--black);
    background-color: var(--white);
    border-color: rgba(0, 0, 0, 0.3);
}
.form-control:focus, 
input:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

form textarea, 
.form-row textarea, 
form input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]), 
.form-row input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]) {
    width: 100%;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Playfair Display', sans-serif;
    font-family: var(--font-headers), sans-serif;
    font-weight: 700;
    font-weight: 400;
    padding: 20px 30px;
    border: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    border-color: var(--gray-dark);
    -webkit-border-radius: 36px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 36px;
    -moz-background-clip: padding;
    border-radius: 36px;
    background-clip: padding-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button, 
input[type="button"], 
input[type="submit"], 
.btn, 
.woocommerce button[name="update_cart"], 
.woocommerce input[name="update_cart"], 
.woocommerce a.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    -webkit-border-radius: 36px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 36px;
    -moz-background-clip: padding;
    border-radius: 36px;
    background-clip: padding-box;
    transition: color 0.3s ease, opacity 0.3s ease, border 0.3s ease, background 0.3s ease, box-shadow 0.25s ease-in-out;
    font-size: 14px;
    padding: 15px 56px 15px 34px;
    margin-bottom: 25px;
    min-width: 170px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    color: #fff;
    color: var(--white);
    background-color: var(--main);
}
.button.btn-xs, input[type="button"].btn-xs, input[type="submit"].btn-xs, .btn.btn-xs {
    font-size: 12px;
    padding: 8px 48px 8px 26px;
    line-height: 1.6em;
    min-width: 110px;
}
.button.btn-default, input[type="button"].btn-default, input[type="submit"].btn-default, .btn.btn-default {
    background-color: var(--main);
    color: #fff;
    &:hover {
        background-color: var(--main);
        color: #fff;
    }
}
.button, 
input[type="button"], 
input[type="submit"], 
.btn {
    &::after {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f138";
        font-size: 14px;
        margin-left: 10px;
        padding-top: 1px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}
.btn-primary {
    color: var(--white);
}

.button, 
input[type="button"],
 input[type="submit"], 
 .btn, 
 .woocommerce button[name="update_cart"], 
 .woocommerce input[name="update_cart"], .woocommerce a.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button,
 .woocommerce input.button {
    border: 3px solid;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    background-clip: padding-box;
    transition: color 0.3s ease, opacity 0.3s ease, border 0.3s ease, background 0.3s ease, box-shadow 0.25s ease-in-out;
    margin-bottom: 25px;
    min-width: 170px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-clip: border-box;
    color: var(--white);
    background-color: var(--main);
    border-color: var(--main);
    &:hover {
        color: var(--main);
        background-color: var(--white);
        border-color: var(--main);
    }
}
.btn-outline-primary {
    transition: color 0.3s ease, opacity 0.3s ease, border 0.3s ease, background 0.3s ease, box-shadow 0.25s ease-in-out;
    color: var(--main);
    background-color: var(--white);
    border-color: var(--main);
    border: 3px solid;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 170px;
    &:hover {
        color: var(--white);
        background-color: var(--main);
        border-color: var(--main);
    }
}
.btn-close {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    color: var(--dark);
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    background-color: transparent;
    font-size: 47px;
    line-height: 1;
}
#content {
    overflow: hidden;
}

.line {
    border-bottom: 3px solid #bbbaba;
    width: 100px;
}

.link-social-media {
    padding-left: 0;
    > li {
        padding: 5px;
        @media(min-width: 992px) {
            padding: 5px 10px;
        }
        svg {
            width: 25px;
            height: auto;
            @media(min-width: 992px) {
                width: 40px;
            }
        }
    }
}
.grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  @media (max-width: 575px) {
    .grid-sizer,
    .grid-item {
      width: 100%;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
  }
  
  /* To change the amount of columns on larger devices, uncomment the code below */
  
  /* @media (min-width: 768px) and (max-width: 991px) {
    .grid-sizer,
    .grid-item {
      width: 33.333%;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .grid-sizer,
    .grid-item {
      width: 25%;
    }
  }
  @media (min-width: 1200px) {
    .grid-sizer,
    .grid-item {
      width: 20%;
    }
  } */
  
  .grid-item {
    float: left;
    padding: 30px;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }

  .animate {
    transition: opacity 500ms;
      opacity: 0;
  }
  .animate.animate__animated {
      opacity: 1;
  }