:root {
    --main: #1748A1;
    --alt: #3BA1F9;
    --second: #FDDD45;
    --seconddary: #5C5B61;
    --gray: #F5F8F2;
    --gray-dark: rgba(0, 0, 0, 0.1);
    --gray-light: rgba(0, 0, 0, 0.1);
    --white: #ffffff;
    --black: #203430;
    --bg: #F5F5F5;
    --font-main: 'Montserrat';
    --font-headers: 'Playfair Display';
  }