.swiper-button-next, .swiper-button-prev {
    background-color: var(--main);
    color: var(--white);
    border-radius: 50%;
    padding: 25px;
    &::after {
        font-size: 16px;
        font-weight: bold;
        @media (min-width: 992px) {
            font-size: vw(18px);
        }
    }
    
}

.swiper-wrapper.disabled {
    transform: translate3d(0px, 0, 0) !important;
}
.swiper-pagination.disabled {
    display: none;
}